.pick-friend{
    background: $color-bg-grad;
    padding: 70px 0 100px;
    @include media-tablet{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    @include media-mobile{
        padding-top: 21px;
        padding-bottom: 19px;
    }

    .pickfriend__main-heading{
        @include media-tablet{
            width: 750px;
            margin-bottom: 32px;
        }
        @include media-mobile{
            margin-top: 27px;
            font-size: 24px;
            line-height: 120%;
            width: 600px;
            margin-bottom: 19px;
        }
        @include media-mobilesmall{
            width: fit-content;
        }
    }

    h3{
        color: white;
        margin-bottom: 10px;
       
    }
    .donate__info{
        color: white;
        display: block;
        margin-bottom: 35px;
        @include media-mobile{
            margin-bottom: 21px;
        }
    }
    .donate__heading{
        color: $color-orange;
        display: block;
        padding: 9px 0 47px;
        @include media-tablet{
            padding-bottom: 32px;
        }
        @include media-mobile{
            margin-top: 0;
            font-size: 36px;
            padding-bottom: 19px;
        }
        @include media-mobilesmall{
            font-size: 24px;
            line-height: 28.8px;
        }
    }
    
    &_donate{
        @include media-tablet{
            padding-bottom: 30px;
        }
        @include media-mobile{
            padding-bottom: 47px;
        }
        @include media-mobilesmall{
            padding-bottom: 20px;
        }
        padding-bottom: 170px;
        padding-top: 3px;
    }
}

.pick-friend-info{
    background: $color-frosted-white;
    border-radius: 20px;
    padding: 39px 99px 59px 99px;
    @include media-tablet{
        padding: 30px 48px 50px 49px
    }
    @include media-mobile{
        padding: 10px 0px 62px 20px;
    }
    @include media-mobilesmall{
        padding: 10px 10px 62px 10px;
        padding-bottom: 40px;
    }
    h2{
        margin: 0 auto 2px;
        width: fit-content;
        color: $color-orange;
        @include media-mobile {
            font-size: 42px;
            line-height: 50px;
            margin-left: 98px;
            margin-right: auto;
            margin-left: auto;
        }
        @include media-mobilesmall{
            font-size: 24px;
            margin-left: 24px;
            margin-bottom: 0;
            margin-right: auto;
            margin-left: auto;
        }

    }
  
    h4{
        @include media-tablet {
            margin: 20px 0;
        }
        @include media-mobile{
            margin-bottom: 20px;
            font-size: 2.2rem;
            margin-right: auto;
                margin-left: auto;
        }
        @include media-mobilesmall{
            font-size: 18px;
            margin-top: 0px;
            text-align: center;
            width: 279px;
            line-height: 21px;
            margin-bottom: 0;
            margin-right: auto;
                margin-left: auto;
        }
    }
    p{
        @include media-mobilesmall{
            display: none;
        }
    }
    .pick__share{
        margin: 10px 0;
        @include media-mobilesmall{
            display: block;
            font-size: 16px;
            line-height: 22.4px;
            width: 301px;
        }
    }
    h3 {
        margin-right: auto;
        margin-left: auto;
        @include media-tablet{
            margin-top: 40px;
        }
        @include media-mobile{
            margin-top: 30px;
            margin-left: 196px;
            margin-bottom: 20px;
            margin-right: auto;
            margin-left: auto;
        }
        @include media-mobilesmall{
            margin-left: 71px;
            font-size: 24px;
            margin-top: 21px;
            margin-bottom: 17px;
            margin-right: auto;
            margin-left: auto;
        }
        margin: 0 auto;
        color: $color-text-main;
        margin-top:60px;
        margin-bottom: 40px;
        width: fit-content;
    }
    &_donate {
        padding: 41px 92px 62px;
        @include media-tablet{
            padding: 18px 46px 36px;
        }
        @include media-mobile{
            padding: 18px 0px 19px;
        }
        @include media-mobilesmall{
            padding-bottom: 8px;
        }
        h4{
            margin-top: 18px;
            @include media-tablet{
                margin-top: 11px;
            }
            @include media-mobile{
                text-align: center;
                font-size: 24px;
                margin-bottom:47px;
            }
            @include media-mobilesmall{
                font-size: 16px;
                line-height: 22.4px;
                width: fit-content;
                margin-bottom: 8px;
            }
 
            margin-bottom: 57px; 
        }
        
        h2{
            @include media-tablet {
                margin-left: 185px;
            }
            @include media-mobile {
                margin: 14px auto;
                font-size: 48px;
                margin-bottom: 27px;
            }
            @include media-mobilesmall {
                font-size: 24px;
                line-height: 28.8px;
                margin-top: 0px;
                margin-bottom: 10px;
            }
        }
    }
    strong {
        width: max-content;
        display:block;
        @include media-tablet{
            width: 812px;
            margin-bottom: 8px;
        }
        @include media-mobile{
            width: 600px;
            line-height: 130%;
        }
        @include media-mobilesmall{
            display: none;
        }
    }
    .feed-friend-wrapper{
        @include media-mobilesmall{
            max-width: 300px;
            margin: 0 auto;
        }
    }
}

.pick-friend-layout{
    justify-content: space-between;
    padding: 0 100px;
    @include media-tablet{
        padding: 0 38px;
    }
    @include media-mobile{
        padding-left: 1px;
        padding-right: 31px;
        max-width: 650px;
        margin: auto;
    }
    @include media-mobilesmall{
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        width: fit-content;
        gap: 24px;
    }
}

.pick-friend-card{
    position:relative;
    flex-basis: 168px;
    p{
        padding: 34px 0;
        @include media-tablet{
            padding: 31px 0;
        }
        @include media-mobilesmall{
            display: block;
            padding: 0;
            margin-bottom: 0;
            width: 170px;
            padding-bottom: 20px;
            margin-top: 10px;
        }
    }
    @include media-mobilesmall{
        display: flex;
        flex-direction: column;
        &:nth-child(2) p {
            padding-bottom: 8px;
        }
    }
    &:not(:last-child):after {
        position: absolute;
        content: '';
        background: url('../icons/pets_arrow.png') no-repeat;
        background-size: cover;
        background-position: center;
        width: 67px;
        height: 35px;
        top: 60px;
        left: 200px;
        @include media-mobile{
            z-index: 1;
            background: url("../icons/pick-friend_arrow-mobile.png") no-repeat;
            background-size: 100%;
            background-position: 100%;
            width: 90px;
            height: 27px;
            top: -14px;
            left: 135px;
        }
        @include media-mobilesmall{
            z-index: 1;
            background: url("../icons/pick-friend_arrow-mobile.png") no-repeat;
            background-size: 100%;
            background-position: 100%;
            width: 90px;
            height: 27px;
            top: 193px;
            left: 140px;
            transform: rotate(84deg);
        }
    }
}

.pick-friend-ico{
    background: $color-white;
    width: 168px;
    height: 168px;
    border-radius: 5px;
    border:1px solid $color-orange;
    &_pay{
        position: relative;
    }
    &_pay::before{
        position: absolute;
        content: "";
        background: url("../icons/pay.png") no-repeat;
        width: 108px;
        height: 60px;
        top: 54px;
        left: 25px
    }
    &_charity{
        position: relative;
    }
    &_charity::before {
        position: absolute;
        content: "";
        background: url("../icons/zoo.png") no-repeat;
        width: 105px;
        height: 97px;
        top: 36px;
        left: 36px
    };
    &_food{
        position: relative;
    };
    &_food::before{
        position: absolute;
        content: "";
        background: url("../icons/monkey.png") no-repeat;
        width: 130px;
        height: 97px;
        top: 44px;
        left: 20px
    }
}

.pick-friend__button{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    @include media-tablet{
        margin-top: 37px;
    }
    @include media-mobile{
        margin-top: 10px;
        margin-right: 19px;
    }
    @include media-mobilesmall{
        margin-top: 21px;
        margin-right: 0;
    }
}